.Artboard {
  background: lightgray;
  display: grid;
  flex-grow: 1;
  align-content: center;
  justify-content: center;
  max-height: 95vh;
  margin: auto;
  aspect-ratio: 1 / 1;
  cursor: crosshair;
}