.ZoomArea {
  padding: .5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: calc(240px - 1rem);
  &__grid {
    transform: rotate(-90deg) scaleX(-1);
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    aspect-ratio: 1 / 1;
  }
}